name: Publish Saibyo Python Package

on:
  pull_request:
    branches:
      - develop
    types: [closed]

jobs:
  publish:
    name: Build and Publish
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: (Install) PDM and dependencies
        run: |
          pip install pdm
          pdm config python.use_venv true
          pdm install --dev

      - name: Build package
        run: |
          pdm build

      - name: (Publish) GitHub Packages
        env:
          TWINE_USERNAME: ${{ secrets.SAIBYO_PACKAGE_USER }}
          TWINE_PASSWORD: ${{ secrets.SAIBYO_PACKAGE_TOKEN }}
        run: |
          pdm run twine upload --repository-url https://upload.pypi.pkg.github.com/alrodsa dist/*
